.prc-bgc{
    width: 100%;
    height: 721PX;
    background-color: white;
    .prc-wrap{
        width: 1050PX;
        height: 100%;
        margin: 0 auto;
        background-color: #bfc;
        .prc-top{
            .prc-top-process{

            }
            .prc-top-left{

            }
        }
        .prc-middle-1{

        }
        .prc-middle-2{
            
        }
        .prc-bottom{
            
        }
    }
}